p#notice = notice
.page-header style="color:orange"
  h1 Every day is a different story. Here's mine..

- form_tag stories_path, :method => 'get' do 
  p
    = text_field_tag :search, params[:search] 
    = submit_tag "Search", :name => nil

.list
- @stories.each do |story|
  h2 = story.subject
  p.pull-right Date: = story.date 
  p = story.note 
  p Side note: = story.comment
  - if user_signed_in?
    p.pull-right 
    = link_to 'Show ', story 
    = link_to 'Edit ', edit_story_path(story) 
    = link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }
  
  hr

br

= link_to 'New Story', new_story_path 

